venv/
.venv/
__pycache__/
*.pyc
*.nc
*.parquet
.DS_Store
.env
.cdsapirc
.ipynb_checkpoints/
data/raw/
J0_silver_cams_pollen_2023_2026.csv
J0_silver_openmedic_2021_2025.csv
old/
J0_silver_rnsa_pollen.csv
old/Power BI Dataset/
.cache.sqlite
python
