# Environnement Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Données lourdes — ne pas commiter
data/raw/
data/bronze/
*.parquet
*.nc

# Fichiers trop lourds
data/silver/J0_silver_cams_pollen_2023_2026.csv
data/silver/J0_silver_openmedic_2021_2025.csv

# Secrets et clés API
.env
*.cdsapirc
config.ini

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
